<form class=""asp-action="Giaiphuongtrinhbac2">
<label>He so A:</label>
<input type="text" name="HesoA">
<br>
<label>He so B:</label>
<input type="text" name="HesoB">
<br>
<label>He so C:</label>
<input type="text" name="HesoC">
<br>
</form>