<h2>@ViewBag.abc</h2>
<form asp-action="Create">
    <label>StudentCode</label>
    <Input type="text" name="StudentCode">
    <br>
    <label>Full Name</label>
    <Input type="text" name="FullName">
    <br>
    <label> Address</label>
    <Input type="text" name="Address">
    <br>
    <Input type="submit"value="Send">
</form>